body {
  font-family: "Times New Roman";
  background-color: #cfdfff;
  font-size: 22px;
  margin: 3;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.row {
  margin-bottom: 30px;
}

/* Style the tables */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-size: 60px;
}

.control-label {
  text-align: right;
  font-size: 25px;
}

.font-size-medium {
  font-size: 20px;
}

.table th,
.table td {
  padding: 6px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
}

.table th {
  background-color: #ffffff;
}

/* Style the form inputs and buttons */
.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  border: 2px;
}

.submit-buttons {
  display: flex;
  /* Put space-between for justifiy-content to make the buttons go to each side */
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.btn-success {
  background-color: #4caf50;
  color: #fff;
  border: none;
  text-align: center;
}

.btn-danger {
  background-color: #f44336;
  color: #fff;
  border: none;
  text-align: center;
}

tr {
  /* background-color: #1eff006b; */
  border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

/* Animated gradient by https://www.gradient-animator.com/*/
.css-selector {
  background: linear-gradient(26deg, #ffc9c9, #c6d1ff, #ffe9cc);
  background-size: 400% 400%;

  animation: simplex 15s ease infinite;
}

@keyframes simplex {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
