<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1>Calculator</h1>
        <div class="calculator">
            <input class="display" type="text" readonly>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>+</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>-</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>*</button>
            <button>0</button>
            <button>.</button>
            <button>=</button>
            <button>/</button>
            <button class="clear">C</button>
        </div>
    </div>


</html>