<!DOCTYPE html>
<html>

<head>
  <title>Simplex Method Calculator</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <h2>Simplex Method Calculator</h2>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form class="form-horizontal" method="post">
        <div class="form-group">
          <label class="control-label col-xs-3" for="dec_vars">Decision Variables :</label>
          <div class="col-xs-7">
            <input type="number" class="form-control" name="dec_vars" value="{{ request.form['dec_vars'] }}"
              placeholder="&nbsp;0&nbsp;">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3" for="slack_vars">Slack Variables :</label>
          <div class="col-xs-7">
            <input type="number" class="form-control" name="slack_vars" value="{{ request.form['slack_vars'] }}"
              placeholder="&nbsp;0&nbsp;">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3" for="excess_vars">Excess Variables :</label>
          <div class="col-xs-7">
            <input type="number" class="form-control" name="excess_vars" value="{{ request.form['excess_vars'] }}"
              placeholder="&nbsp;0&nbsp;">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-success" value="Submit">
            <input type="reset" class="btn btn-danger" value="Reset">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3">Number of Columns :</label>
          <div class="col-xs-7">
            <input type="text" name="cols" class="form-control" placeholder={{ cols }}>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>